@model EngineOverflow.Web.ViewModels.Questions.QuestionDisplayViewModel
@{
    ViewBag.Title = Model.Title;
    TempData["PostId"] = Model.Id;
}
<h1>@ViewBag.Title</h1>
@Html.Raw(Model.Content)
<h4><b>@Model.Feedbacks.Count() Answers</b></h4>
@foreach (var feedback in Model.Feedbacks)
{
    <hr />
    @Html.Raw(feedback.Content)
    <br />
    <br />
    <p class="text-right">Asked at <i>@feedback.CreatedOn</i> by <b>@feedback.AuthorUserNameDisplay</b></p>
}
<hr />
@Html.Partial("~/Views/Feedback/Create.cshtml", new EngineOverflow.Web.InputModels.Feedback.CreateInputModel())